
.container {
    &.workshop {


        .hero_wrapper {
       
            @include breakpoint('small') {
                // align-items: flex-start;
            }
        
        }

        .logo-ttg {
            margin-right: 0;
            @include breakpoint('tiny') {
                margin-right: 0;
            }
        }

        .tg_logo_hidden {
            display: none;
        }

        .register_cta {
            box-sizing: border-box;
            color: $black;
            font-family: 'Montserrat';
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 1.2px;

            align-items: center;
            display: flex;
            justify-content: space-between;
            border-bottom: solid 1px $gray-light;
            padding-left: 1rem;
            width: 100%;
            

            @include breakpoint('header') {
                border-bottom: 0;
                display: inline;
                padding-left: 0;
                padding-top: 40px;
                width: auto;
            }

            a {
                margin-left: 1.5rem;
            }
        }
        
        .hero_content {
            align-self: flex-start;
            flex: 1 1;
            padding-right: 0;
            padding-bottom: 4rem;
            @include breakpoint('small') {
                flex: 0 0 480px;
                padding-right: 2rem;
            }
            @include breakpoint('header') {
                flex: 0 0 480px;
            }
            @include breakpoint('large') {
                flex: 0 0 520px;
            }
        
            @include breakpoint('xlarge') {
                flex: 0 0 520px;
            }

            h1 {
                max-width: 100%;
            }

            p {
                margin-left: 0;
                max-width: none;
                
                &.workshop_details,
                &.workshop_desc {
                    font-size: 20px;
                }

                &.mini_header {
                    color: $black-raisin;
                    font-family: Montserrat;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 22px;
                    letter-spacing: 1.5px;
                    margin-bottom: 0;
                    text-transform: uppercase;
                }                
            }
        }

        .hero_workshop_title {
            margin-bottom: 3rem;
            text-align: center;

            @include breakpoint('small') {
                text-align: left;
            }

            h1 {
                color: $black-raisin;
                font-family: 'TheSeasons';
                font-size: 42px;
                font-style: normal;
                font-weight: 700;
                line-height: 109%;
                @include breakpoint('omfg') {
                    font-size: 50px;
                }
                @include breakpoint('vtiny') {
                    font-size: 58px;
                }
                @include breakpoint('tiny') {
                    font-size: 64px;
                }
            }
        
            .workshop_sub {
                color: $copper;
                font-family: 'DMSans';
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 111%;
                letter-spacing: 1.8px;
                text-transform: uppercase;

                &.alt {
                    text-transform: none;
                }
            }
        }

        .hero_images {
            @include breakpoint('small') {
                align-items: center;
                height: 600px;
                padding-top: 100px;
            }
        }

        .small_images {
            bottom: auto;
            top: 4rem;
            @include breakpoint('small') {
                top: auto;
            }

        }
        .collage-3 {
            @include breakpoint('small') {
                min-width: 520px;
            }
        }

        
    }
}


.workshop_wrapper {
    position: relative;
}
.hero_title_stripe {
    height: 200px;
    width: 5px;
    background: $warm-off-white;
    position: absolute;
    left: 0;
    top: 12.75rem;
}
        
.collage-stripe {
    background: $copper;
    display: none;
    height: 5px;
    right: 0;
    position: absolute;
    top: 710px;
    width: 300px;

    @include breakpoint('header') {
        display: block;
    }


}
.workshop_callout {
    color: $black-raisin;
    font-family: 'TheSeasons';
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin: 4rem auto 4rem;
    max-width: 920px;
    width: calc(100% - 150px);

    @include breakpoint('header') {
        font-size: 40px;
        text-align: center;
        margin: 2rem auto 6rem;
    }

    span {
        color: $copper;
    }
}

.workshop_info {
    @include breakpoint('header') {
        display: flex;
    }

    h2 {
        color: $copper;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px; /* 157.143% */
        letter-spacing: 1.4px;
        margin-bottom: 0;
        text-transform: uppercase;
    }
}

.workshop_info-details {
    display: flex;
    font-family: Montserrat;
    justify-content: flex-end;
    @include breakpoint('header') {
        flex: 0 0 62%;
    }

    a {
        border-bottom: 1px solid $copper;
        color: $black;

        @include hocus {
            color: $copper;
        }
    }

    ul {
        margin: 1rem 0;
    }
    li,
    p {
        color: #231F20;
        font-family: "DMsans";
        font-weight: 300;
        line-height: 1.6;
        font-size: 20px;
        margin-bottom: 10px;
    }
    p + h2 {
        margin-top: 2rem;
    }
}

.workshop_info-details_inner {
    @include breakpoint('header') {
        box-sizing: border-box;
        max-width: 750px;
    
        padding-right: 6rem;
    }

}

.workshop_info-course_progress {
    @include breakpoint('header') {
        flex: 0 0 38%;
    }
}

.workshop_info-course_progress_inner {
    background-color: $gray-light;
    color: $black;
    font-family: "DMSans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 27.2px */
    padding: 3rem;

    @include breakpoint('header') {
        margin-right: -67px;
    }

    li {
        margin-bottom: 1rem;
    }
}

.info_register_button {
    margin: 4rem 0 6rem;
    text-align: center;
}

.workshop_quote {
    background-color: $warm-off-white;
    margin-bottom: 4rem;
    padding: 5rem 0;
    text-align: center;

    h2 {
        color: $black;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 18.2px */
        letter-spacing: 2.8px;
        text-transform: uppercase;
    }

    blockquote {
        color: $dark-indigo-blue;
        text-align: center;
        font-family: 'Theseasons';
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 46.8px */
        margin: 0 auto 2rem;
        max-width: 900px;
    }
}

.play_button {
    align-items: center;
    color: $black;
    background: $gray-overcast;
    border-radius: 1.2rem;
    display: inline-flex;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    gap: .5rem;
    letter-spacing: 2.8px;
    line-height: 130%;
    margin-bottom: 2rem;
    padding: .6rem .9rem .6rem .7rem;
    text-transform: uppercase;

    @include hocus {
        background: $white;
    }
}

.quote_attr {
    align-items: center;
    display: inline-flex;
    gap: 1rem;
    margin: 0 auto;

    img {
        border-radius: 50%;
        width: 70px;
    }
}

.attr_info {
    color: $dark-indigo-blue;
    font-family: "DMSans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    text-align: left;
    span {
        display: block;
        font-weight: 600;
        font-family: Montserrat;
        letter-spacing: 1.6px;
    }
    &.centered {
        text-align: center;
    }
}


.lightbox {
    align-items: center;
    background-color: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    overflow: scroll;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    opacity: 0;
    pointer-events: none;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    .lightbox-container {
      position: relative;
      max-width: 960px;
      z-index: 10;
    }
  }

  .lightbox-content {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 100vw;

    iframe {
        width: 90vw;
        height: 50.58vw;
    }
  }
  
  .video-container {  
      padding-bottom: 56.25%;
      position: relative;  
      padding-top: 30px; 
      overflow: hidden;
      height: 0; 
  }
  
  .video-container iframe,
  .video-container object,
  .video-container embed {
      position: absolute;
      height: 100%;  
      width: 100%;  
      left: 0;  
      top: 0;
  }

.workshop_faqs {
    max-width: 1200px;
    margin: 0 auto 3rem;

    p {
        margin-bottom: 1rem;
    }

    p:last-of-type {
        margin-bottom: 2rem;
    }

    h2 {
        color: $copper;
        font-family: 'Montserrat';
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 22.5px; /* 150% */
        letter-spacing: 1.5px;
        text-transform: uppercase;
    }

    .faq_button {
        background-image: url(/img/plus_open.svg);
        background-repeat: no-repeat;
        background-position: top right;
        border-bottom: solid 4px $warm-off-white;
        box-sizing: border-box;
        color: $black-raisin;
        display: block;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 22.1px */
        letter-spacing: 1.7px;
        padding: .2rem 3rem .7rem 0;
        text-transform: uppercase;
        width: 100%;
        @include breakpoint('small') {
            font-size: 17px;
        }
    }

    .faq_info {
        color: $black;
        font-family: "DMSans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%; /* 27.2px */
        padding: 1rem 0;

        transition: max-height 0.5s ease-out, opacity 0.5s ease-out;

        max-height: 0;
        opacity: 0;
        overflow: hidden;


        &.panel-open {
            max-height: 30rem;
            opacity: 1;
        }
    }
    
}

.talk_to_coach {
    background: $dark-indigo-blue;

    .wrapper {
        align-items: center;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 5rem;
        padding-top: 5rem;
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;

        @include breakpoint('header') {

            flex-direction: row;
            text-align: left;
    
        }
    }

    h2 {
        margin-bottom: 1rem;
    }
    p {
        color: $copper;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 22.5px; /* 150% */
        letter-spacing: 1.5px;
        
        text-transform: uppercase;

        @include breakpoint('header') {

            margin-bottom: 0;
    
        }
    }



    .cta_buttons {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;

        @include breakpoint('header') {
            flex-wrap: nowrap;
        }

    }

}


.coming_soon_button {
    background: $white;
    color: $black;
    border: solid 1px $black!important;
    pointer-events: none;
}

.course_leaders_container {
    background: $light-off-white;
    margin: -4rem 0 4rem;
    padding: 4rem 0 3rem;
}

.course_leaders {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include breakpoint('medium') {
        flex-direction: row;
    }

    h3 {
        color: $copper;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 170%; /* 34px */
        margin: 1rem 0 .25rem;
        text-transform: none;
    }

    p {
        font-size: 18px;
    }

    .leader {
        flex: 0 0 50%;
    }

}