.copper_button {
    background: $copper;
    color: $white;
    display: inline-flex;
    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 175% ;
    letter-spacing: 2.4px;
    padding: 16px 25px 17px 26px;
    text-transform: uppercase;
}