

$black: #000;
$black-raisin: #231F20;

$copper: #BB743A;

$dark-indigo-blue: #202A47;

$gray-light: #DDE2E5;
$gray-overcast: rgba(85, 110, 124, 0.20);

$cadet-light-blue: #809EA4;

$warm-off-white: #E0D7D0;
$white: #fff;