
$content-spacing: .7rem;
$content-spacing-lg: 2rem;

body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

.background-wrapper {
    background-color: white;
}

.wrapper {
    margin: 0 auto;
    max-width: 1300px;
    padding-left: 35px;
    padding-right: 35px;
    position: relative;

    @include breakpoint('tiny') {
        padding-left: 75px;
        padding-right: 75px;
    }
    @include breakpoint('header') {
        padding-left: 70px;
        padding-right: 70px;
    }
}