
h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 36px;
}

.button_link {
    background: white;
    border: solid 1px $copper;
    color: $black-raisin;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; /* 175% */
    letter-spacing: 2.4px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .5s ease-in-out;
    padding: 16px 25px 17px;

    @include hocus {
        background: $copper;
    }
}

a,
.copper_text {
    color: $copper;
}

a {
    color: $copper;
    text-decoration: none;

    @include hocus {
        color: $black-raisin;
    }
}

h1 {
    font-family: 'TheSeasons';
    font-size: 30px;
    font-weight: 700;
    line-height: 110%; 
    @include breakpoint('vtiny') {
        font-size: 36px;
    }
    @include breakpoint('tiny') {
        font-size: 46px;
    }

    @include breakpoint('small') {
        font-size: 36px;
    }
    @include breakpoint('large') {
        font-size: 46px;
    }
    @include breakpoint('xlarge') {
        font-size: 50px;
    }
}

h2 {
    font-family: 'TheSeasons';
    font-size: 34px;
    font-weight: 700;
    line-height: 27px;
}

h3 {
    color: $black-raisin;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
}


p {
    color: $black-raisin;
    font-family: 'DMsans';
    font-weight: 300;
    line-height: 1.8;
}

